
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('../assets/imagenes/fondos-vist.png')no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 350px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 15px;
}
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label {
    top: -15px; /* Ajusta este valor según prefieras para separar el label del borde superior */
}

.inputbox input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff; /* Asegúrate de que el color del texto sea blanco */
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

button:hover{
    background: rgb(255, 255, 255);
}



/* Estilos base que ya tienes */

/* Media query para tabletas y dispositivos móviles */
@media (max-width: 768px) {
    .form-box {
        width: 80%; /* Ajusta el ancho como prefieras */
        height: auto; /* Permite que la altura se ajuste según el contenido */
        margin: 20px; /* Añade un margen para separar del borde de la pantalla */
    }

    .inputbox {
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    .inputbox label {
        font-size: 0.8em; /* Reduce el tamaño del texto del label */
    }

    .inputbox ion-icon {
        font-size: 1em; /* Ajusta el tamaño del ícono */
    }

    button {
        font-size: 0.9em; /* Ajusta el tamaño del botón */
    }
}
