
header {
    background-image: url(../assets/imagenes/Fondo.png);
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 5rem;
}



/* primera seccion */

.contenedor{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadro-negro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2;
}

.boton{
    margin-top: 30px;
}

.boton{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
}

.boton:hover{
    background-color:#000000 ;
}

.cuadro-negro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

  /* segunda seccion */

.segunda-seccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f1bdce;
    padding: 110px 8.5%;
    border-radius: 10px;

}

.image-container {
    flex: 1;
    margin-right: 20px;
}

.image-container img {
    max-width: 80%;
    border-radius: 10px;
}

.texto-contenedor {
    flex: 1;
    text-align: center;
}

.texto-contenedor h1 {
    color: #C31952;
    font-size: 30px;
    margin-bottom: 10px;
}

.texto-contenedor p {
    color: #C31952;
    font-size:  20px;;
    margin-bottom: 20px;
}

.texto-contenedor button {
    background-color: #FF0000; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.texto-contenedor button:hover {
    background-color:#D40000 ;
}

  /* seccion-tercera */

.tercera-seccion{
    background-color:#6CAC4F;
    text-align: center;
    padding: 110px 15%; 
}

.tercera-seccion h1{
    color: #FFFFFF;
    margin-top: 10px;
}

.tercera-seccion p{
    color: #FFFFFF;
}

.tercera-seccion-img{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.tercera-seccion-img img{
    margin: 10px;
    max-width: 200px;
    height: auto;
    border-radius: 15px;
}

.tercera-seccion-boton{
    margin-top: 30px;
}
.tercera-seccion button {
    background-color: #FF0000; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.tercera-seccion button:hover {
    background-color: #CC0000;
}

/* cuarta seccion */

.cuarta-seccion{
    background-image: url(../assets/imagenes/Fondo_fond.png);
    background-repeat: no-repeat;
    background-color: #FFE2EB;
    width: 100%;
    height: 100%;
    text-align: center;

}

.contenido-seccion{
    text-align: end;
    text-align: end;
    margin: 0 20px;
    padding: 10px 5%;
}
.contenido-seccion h1{
    color: #C31952;
    font-size: 30px;
    margin-bottom: 10px;
}
.contenido-seccion p{
    color: #C31952;
    font-size:  20px;;
    margin-bottom: 20px;

}






@media(max-width:768px){
    .segunda-seccion {
        flex-direction: column;
        padding: 50px 10%;
}
.image-container{
    margin-right: 0;
    margin-bottom: 20px;
    }

    .image-container img{
        max-width: 100%;
    }
    .texto-contenedor p{
        font-size: 16px;
    }
    .texto-contenedor buttom { 
        font-size: 14px;
        padding: 10px 20px;
    }
}

