@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --primary-color: #e74c3c; /* Color rojo utilizado en "Expres" y el botón "Registrarse" */
    --secondary-color: #333; /* Color oscuro para el texto y el fondo */
    --white-color: #fff; /* Color blanco para el texto y el fondo */
    --font-family: 'Arial', sans-serif; /* Fuente utilizada */
    --button-background-color: #e74c3c; /* Color del botón "Registrarse" */
    --button-hover-color: #c0392b; /* Color del botón al pasar el cursor */
    --button-text-color: #fff; /* Color del texto en el botón */
    --nav-height: 50px; /* Altura de la barra de navegación */
    --nav-padding: 10px 20px; /* Padding de la barra de navegación */
    --padding: 20px; /* Padding general */
    --btn-hover: #D72522; /* Color al pasar el cursor sobre el botón */
    --tertiary-color: #000000; /* Color terciario para los enlaces de navegación */
    --p-font: 16px; /* Tamaño de fuente para los elementos de párrafo */
    --white-navegacion: #fff; /* Color blanco para el texto y el fondo */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    background: #e0dbdb;
    width: 100%;
    z-index: 1000;
    padding:25px 10%;
}



.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn{
    flex: 3;
    display: flex;
}

.nav-links{
    flex: 2;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo{
    color: var(--tertiary-color);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}


.btn-primario {
    display: inline-block;
    font-size: 14px; /* Tamaño de fuente de 15 píxeles */
    border-radius: 10px;
    line-height: 1.5; /* Ajusta la altura de línea para centrar el texto */
    margin: 0 .2rem;
    transition: .3s;
    padding: 10px 25px; /* Ajusta el padding para mantener el tamaño del botón */
    text-align: center; /* Centra el texto horizontalmente */
    color: var(--tertiary-color); /* Asegúrate de que el color del texto sea visible */
    white-space: nowrap; /* Evita el salto de línea dentro del botón */
    vertical-align: middle; /* Alinea el texto verticalmente */
    background-color: transparent;
    border: 1px solid var(--tertiary-color); /* Borde negro del botón */
}
.btn-primario:hover{
    background-color: var(--tertiary-color);
    color: var(--button-text-color);
}
.btn-secundario{
    display: inline-block;
    font-size: 14px; /* Tamaño de fuente de 15 píxeles */
    border-radius: 10px;
    line-height: 1.5; /* Ajusta la altura de línea para centrar el texto */
    margin: 0 .2rem;
    transition: .3s;
    padding: 10px 25px;/* Ajusta el padding para mantener el tamaño del botón */
    text-align: center; /* Centra el texto horizontalmente */
    color: var(--white-color); /* Asegúrate de que el color del texto sea visible */
    white-space: nowrap; /* Evita el salto de línea dentro del botón */
    vertical-align: middle; /* Alinea el texto verticalmente */
    background-color: var(--button-background-color);
}
.btn-secundario:hover{
    background-color: var(--button-hover-color);
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: var(--tertiary-color);
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: #fff;
    color: #3498db;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #3498db;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #3498db;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

/* inicio primera seccion */

.primera-seccion {
    background: url(./Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 10%;
}

.primera-seccion h1 {
    font-size: 50px;
}

  /* Estilo del cuadro negro */
.cuadro-negro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    z-index: 2;
}

.boton {
    margin-top: 30px;
    margin-bottom: 20px;
}

.boton {
    padding: 10px 25px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid var(--white-color); /* Borde blanco del botón */
    color: var(--white-color); /* Texto blanco del botón */
    border-radius: 15px;
    cursor: pointer;
}

.boton:hover {
    background-color: var(--tertiary-color); /* Fondo negro al pasar el cursor */
}

  /* Repetición del cuadro negro */
.cuadro-negro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    padding: 20px;
}

/* segunda seccion */

  /* segunda seccion */

.segunda-seccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f1bdce;
    padding:25px 14%;


}

.image-container {
    flex: 1;
    margin-right: 20px;
}

.image-container img {
    max-width: 80%;
    border-radius: 10px;
}

.texto-contenedor {
    flex: 1;
    text-align: center;
}

.texto-contenedor h1 {
    color: #C31952;
    font-size: 60px;
    margin-bottom: 10px;
}

.texto-contenedor p {
    color: #C31952;
    font-size:  20px;;
    margin-bottom: 20px;
}

.texto-contenedor button {
    background-color: #FF0000; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.texto-contenedor button:hover {
    background-color:#D40000 ;
}

/* responsive de la segunda seccion */
@media (max-width: 940px) {
    .segunda-seccion {
        flex-direction: column;
        align-items: center;
        padding: 20px 5%;
    }

    .image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .image-container img {
        max-width: 100%;
    }

    .texto-contenedor {
        text-align: center;
    }

    .texto-contenedor h1 {
        font-size: 40px;
    }

    .texto-contenedor p {
        font-size: 18px;
    }

    .texto-contenedor button {
        padding: 12px 25px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .segunda-seccion {
        padding: 20px 10px;
    }
}

@media (max-width: 450px) {
    .texto-contenedor h1 {
        font-size: 30px;
    }

    .texto-contenedor p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .texto-contenedor button {
        padding: 10px 20px;
        font-size: 14px;
    }
}


/* tercera seccion */



.tercera-seccion{
    background-color:#BB6868;
    text-align: center;
    padding: 110px 15%; 
}

.tercera-seccion h1{
    font-size: 60px;
    color: #FFFFFF;
    margin-top: 10px;
}

.tercera-seccion p{
    color: #FFFFFF;
}

.tercera-seccion-img{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}
.tercera-seccion-img img{
    margin: 30px;
    max-width: 200px;
    height: auto;
    border-radius: 15px;
}

.tercera-seccion-boton{
    margin-top: 30px;
}
.tercera-seccion button {
    background-color: #FF0000; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.tercera-seccion button:hover {
    background-color: #CC0000;
}


/* responsive de la tercera seccion */

@media (max-width:940px) {
    .tercera-seccion{
        padding: 80px 5%;
    }
    .tercera-seccion h1{
        font-size: 40px;
    }

    .tercera-seccion-boton {
        margin-top: 20px;
    }

    .tercera-seccion button {
        padding: 12px 25px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .tercera-seccion {
        padding: 50px 10px;
    }
}

@media (max-width: 450px) {
    .tercera-seccion h1 {
        font-size: 30px;
    }

    .tercera-seccion p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .tercera-seccion button {
        padding: 10px 20px;
        font-size: 14px;
    }
}


/* cuarta seccion */

.cuarta-seccion {
    display: flex;
    background-color: white;
}

.image-section {
    flex: 1;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-section {
    flex: 1;
    padding: 30px;
    background-color: #FFE2EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-section h1 {
    color: #C32F00;
    margin-bottom: 60px;
    font-size: 60px;
}

.text-section p {
    margin-bottom: 30px;
    color: #CF2F00;  
    font-size: 16px;
}

.text-section button {
    background-color: #E60023;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.text-section button:hover {
    background-color:#D40000 ;
}

/* responsive de la cuarta seccion */

@media (max-width: 940px) {
    .cuarta-seccion {
        flex-direction: column-reverse;
    }

    .image-section {
        order: 2;
    }

    .text-section {
        padding: 20px;
    }

    .text-section h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .text-section p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .text-section button {
        padding: 12px 25px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .text-section h1 {
        font-size: 30px;
    }

    .text-section p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .text-section button {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .text-section h1 {
        font-size: 24px;
    }

    .text-section p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .text-section button {
    padding: 8px 15px;
    font-size: 12px;
    }
}






















footer {
    background-color: #c44a47; /* Matching the red color from the image */
    padding: 5%; 
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 25px 10%;
}

.footer-container a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-container a:hover {
    text-decoration: underline;
}
/* responsive del footer */
@media (max-width: 940px) {
    .footer-container {
      flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    }
}

@media (max-width: 600px) {
    .footer-container {
      padding: 0; /* Elimina el padding en pantallas más pequeñas */
    }

    .footer-container a {
      margin: 10px 0; /* Ajusta el margen de los enlaces en pantallas pequeñas */
    }
}
@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px){
    .hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    .nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 6rem;
        left: 0;
        width: 100%;
        backdrop-filter: blur(32px);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: var(--primary-color);
        color: white;
    }

    .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: var(--button-background-color);
        display: none;
    }
    
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .dropdown-link > a{
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow{
        z-index: 1;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }


    .dropdown .dropdown .arrow{
        display: none;
    }

    .dropdown-link:hover > a{
        background-color: #d65050;
    }

    .dropdown-link:first-child:hover ~ .arrow{
        background-color: #d65050;
    }

    .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}

