:root {
    --main-bg-color: #f0f8ff;
    --box-shadow-color: rgba(255, 255, 255, 0.2);
    --border-color: #ffffff;
    --placeholder-color: #ffffff;
    --input-bg-color: transparent;
    --text-color: #ffffff;
    --hover-bg-color: rgb(255, 255, 255);
    --hover-text-color: #000000;
    --font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-bg-color) url(/assets/imagenes/Fondo.png) center/cover no-repeat;
    height: 100vh;
    margin: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form {
    max-width: 400px; /* Cambiado a un ancho máximo mayor */
    width: 100%; /* Ajustado para ocupar el ancho disponible */
    height: auto; /* Ajuste para que la altura sea basada en el contenido */
    background: var(--input-bg-color);
    padding: 20px; /* Reducido el padding para hacer la caja más pequeña */
    box-shadow: 0 0 20px var(--box-shadow-color);
    text-align: center;
    border-radius: 25px;
    backdrop-filter: blur(15px);
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: var(--text-color);
    font-size: 35px;
    margin-bottom: 20px;
}

label {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px; /* Reducido el margen inferior de las etiquetas */
    display: block;
    text-align: left;
}

input {
    padding: 12px; /* Ajusta el padding según sea necesario */
    border-radius: 15px;
    margin-bottom: 15px; /* Reducido el margen inferior */
    background-color: var(--input-bg-color);
    border: 2px solid var(--border-color);
    outline: none;
    color: var(--text-color);
    width: calc(100% - 24px); /* Ajusta el ancho restando el doble del padding */
}

input:hover {
    background-color: #cccccc;
    color: #000000;
}

input::placeholder,::placeholder {
    color: var(--placeholder-color);
}

.form-txt {
    margin-bottom: 20px; /* Ajuste del margen inferior */
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    color: var(--text-color);
    border: 0;
    border-radius: 15px;
    font-weight: 600;
    background: var(--input-bg-color);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px var(--border-color);
    cursor: pointer;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
}

.btn:hover {
    background: var(--hover-bg-color);
    color: var(--hover-text-color);
}



input[type="date"] {
    /* Estilos generales */
    padding: 12px;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    background-color: var(--input-bg-color);
    color: var(--text-color);
    width: calc(100% - 24px);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Ejemplo: invertir los colores */
}

@media (max-width: 600px) {
    form {
        padding: 15px; /* Reducción adicional del padding en pantallas más pequeñas */
    }
}

